<!DOCTYPE html>

<html lang="ru">
    <head>
        <meta charset="utf-8">
        <title>Nevendaar's utils</title>
        <link rel="stylesheet" type="text/css" href="/css/app.css">
    </head>
    <body>
        <%= yield if block_given? %>
    </body>
</html>

