<form action="/channel" method="post">
    <p>
        <label for="notice_title_fld">Заголовок (для важных новостей):</label>
        <input type="text" name="title" id="notice_title_fld" maxlength="128">
    </p>
    <p>
        <textarea name="text" maxlength="1024" rows="7" required></textarea>
    </p>
    <p>
        <label for="notice_ref_url_fld">Ссылка на материал:</label>
        <input type="url" name="ref_url" id="notice_ref_url_fld" maxlength="256" required>
    </p>
    <p>
        <input type="submit" value="Готово">
    </p>
</form>

